.sidebar-container {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-title {
  position: absolute;
  left: 2%;
  font-size: 1.5rem;
}
.create-btn {
  position: absolute;
  width: 18vw;
  height: 6vh;
  left: 3.5%;
  top: 14%;

  background: #000000;
  border-radius: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 97.69%;
  /* or 26px */

  letter-spacing: 0.02em;
  cursor: pointer;
  color: #ffffff;
}
.create-btn span {
  font-size: 1.5rem;
  font-weight: 900;
}
.title-container {
  position: relative;
  width: 22vw;
  height: 10vh;
  margin-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
.notes-icon {
  position: absolute;
  width: 50.9px;
  height: 50.9px;
  margin: 5px 10px;
  /* left: 44px;
top: 309.18px; */
  border-radius: 50%;
  background: #b38bfa;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 4% 4%;
  box-sizing: border-box;
}
.notes-title {
  position: absolute;
  left: 27%;
  top: 25%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 24px;
  letter-spacing: 0.02em;
  position: relative;
  color: #000000;
}

.group-box {
  position: relative;
  left: 10%;
  top: 24%;
  overflow: scroll;
  overflow-x: hidden;
  width: 22vw;
  height: 70vh;
}

@media screen and (min-width: 1400px) {
  .page-title {
    position: absolute;
    left: 2%;
    font-size: 2rem;
  }
  .create-btn {
    position: absolute;
    width: 20vw;
    height: 6vh;

    font-size: 1.4rem;
  }
  .create-btn span {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .notes-icon {
    position: absolute;
    width: 65.9px;
    height: 65.9px;

    font-size: 1.7rem;
  }
  .notes-title {
    font-size: 1.1em;
  }

  .group-box {
    position: absolute;
    left: 3%;
    top: 24%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 600px) {
  .sidebar-container {
    width: 100vw;
    height: 100vh;
  }
  .page-title {
    position: absolute;
    left: 6%;
    font-size: 1.5rem;
  }
  .create-btn {
    position: absolute;
    width: 60vw;
    height: 5vh;
    left: 5%;
    top: 10%;

    font-weight: 500;
    font-size: 1rem;
  }
  .create-btn span {
    font-size: 1.8rem;
    font-weight: 900;
  }
  .title-container {
    position: relative;
    width: 80vw;
    height: 10vh;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
  }
  .notes-icon {
    position: absolute;
    width: 50.9px;
    height: 50.9px;
    margin: 5px 10px;
    /* left: 44px;
  top: 309.18px; */
    border-radius: 50%;
    background: #b38bfa;
    text-transform: uppercase;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 4% 4%;
    box-sizing: border-box;
  }
  .notes-title {
    position: absolute;
    left: 27%;
    top: 25%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 24px;
    letter-spacing: 0.02em;
    position: relative;
    color: #000000;
  }

  .group-box {
    position: relative;
    left: 5%;
    top: 18%;
    overflow: scroll;
    overflow-x: hidden;
    width: 80vw;
    height: 70vh;
  }
}
